.div-login{
background-color: #0fa8ad;
width: 400px;
padding: 30px 0;
border-radius: 10px;
margin: auto;

}

.div-register{
    display: flex;
    flex-direction: row;
    background-color: #0fa8ad;
    margin: auto;
    padding: 30px;
    width: 850px;
    border-radius: 20px;
}

/* From uiverse.io by @alexmaracinaru */
.btn-login{
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #19283b;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 250px;
    justify-content: center;
   }
   
   .btn-login:hover {
    background: #a6c900;
   }
   
   .btn-login> svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
   }
   
   .btn-login:hover svg {
    transform: translateX(5px);
   }
   
   .btn-login:active {
    transform: scale(0.95);
   }

.icon-login {
    width: 30px;
    margin: 10px;
}

.input-login{
    border-radius: 20px;
}

.logoImg{
    width: 100px;
    padding: 5px;
}

.img-icon-login{
    border-radius: 50%;
    background-color: white;
    width: 120px;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
}