* {
    font-family: 'Rubik', sans-serif;
}
bode {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #0fa8ad;
}
.header>nav>div{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0px 30px;
    margin: 0;

}
.div-ul-nav{
    margin: 0;
    padding: 0;
}
.img-home{
    width: 50px;
    margin-right: 5px;
}
.div-ul-nav{
    margin: 0;
}
.div-img-navbar{
    background-color: #ffffff;
    border-radius: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.div-a-navbar-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: #1b4070;
    font-size: 25px;
    padding: 5px 10px;
}

.div-a-navbar-img p {
    margin: 0;
    padding: 0;
}

.btn-sesion{
    border-radius: 50%;
    padding: 0;
}

.perfil{
    width: 25px;
    border-radius: 50%;
    margin: 2px 0;
    padding: 0;
}

.perfil-2{
    width: 30px;
    margin: 5px;
    border-radius: 50%;
}

.div-sesion{
    background-color:#488FB1;
    border-radius: 50%;
}

.ul-opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ul-opciones>li{
    margin: 10px;
    transition: 0.3s;
}


.ul-opciones>li>a{
    padding: 2px;
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.ul-opciones>li>a:hover{
    background-color: #488FB1;
    border-radius: 25px;
}

.ul-opciones>li:hover{
    background-color: #488FB1;
    border-radius: 25px;
    transform: scale(1.1);
}

.div-buscar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.input-buscar{
    margin: 0px 10px;
    padding: 0px 5px;
    border-radius: 20px;
    border: none;
    width: 100px;
}

.img-buscar{
    width: 35px;
    background-color: #488FB1;
    border-radius: 50%;
    padding: 3px;
}

.img-btn-login {
    width: 25px;
}

.btn-login {
    background-color: #488FB1;
    border: none;
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    margin: 0px 10px;
    color: white;
}
.banner-nav {
    width: 100%;
}
